.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.3rem 1.7rem 0.3rem 1.7rem;
    text-align: center;
    text-decoration: none;
    font-family: Cheddar, sans-serif;
    border-radius: 0.2rem;
    text-transform: lowercase;
    margin-bottom: 1rem;
}

.small {
    font-size: 0.5rem;
}

.medium {
    font-size: 1rem;
}

.big {
    font-size: 1.5rem;
}

.filled {
    background-color: #E939B4 !important;
}

.bordered {
    border: 1px solid #E939B4;
}
