.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2em;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
    display: flex;
    background-color: black;
    z-index: 99;
    justify-content: center;
}

.header > a {
    color: white !important;
    font-size: 4em;
    font-weight: normal;
}

.header > a:hover {
    text-decoration: none;
}