@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Cheddar";
    src: url('../lib/fonts/CheddarGothicRough-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

