@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Cheddar";
    src: url('../lib/fonts/CheddarGothicRough-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


.page {
    text-align: center;
}

h1, h2, p {
    font-family: 'Cheddar', sans-serif;
    color: #E939B4;
    font-size: 4em;
    font-weight: normal;
}

p {
    color: white;
    margin-top: 1em;
}