

@font-face {
    font-family: "Cheddar";
    src: url('../lib/fonts/CheddarGothicRough-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../lib/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}



.footer {
    grid-area: footer;
}


