.accent {
    color: #E939B4;
}

.button {
    background-color: #E939B4;
    border: none;
    color: white;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    margin: 2em;
    font-family: Cheddar, sans-serif;
    border-radius: 0.4em;
}

/*
.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.events h1,
.events h2 {
    margin: 0.5em 0 0.5em 0;
}

.events a {
    align-self: flex-end;
}

.events ul {
    list-style-type: none;
}

.event article > a {
    color: blue;
    margin-left: auto;
    margin-top: 1em;
    cursor: pointer;
}

.date {
    color: blue;
    font-size: 0.75em;
    margin-left: 0.5em;
}
*/