/* General */
@font-face {
    font-family: "Cheddar";
    src: url('../lib/fonts/CheddarGothicRough-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


:root {
    font-size: 30px;
    font-family: 'Cheddar', sans-serif;
    background-color: black;
    text-transform: lowercase;
    color: white;
}

#__next {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    align-items: center;
    grid-template-areas:
          'header'
          'main';
}

img {
    max-width: 100%;
    height: auto;
}


h1, h2 {
    color: #E939B4;
    font-size: 1.5rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #E939B4;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* Don't make content of buttons and links clickable by them self */
button *, a * {
    pointer-events: none;
}

/* Content */

#content {
    margin-top: 0.5rem;
}




/* At the end to rule them all */
.hidden {
    display: none;
}