:root {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'Cheddar', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}